*.sw?
.DS_Store
coverage
rdoc
pkg
Gemfile.lock
.idea/*
lib/Lib.iml
test/Test.iml
.rvmrc
*.gem
.bundle
*.patch

test/certificates/incommon_cert

test/certificates/incommon-saml.crt

test/certificates/incommon-saml.key

test/responses/incommon_response.xml
